body{

font-family: 'Poppins', sans-serif;

background:#f8f9fa;

}

.navbar{

box-shadow:0 5px 20px rgba(163, 6, 6, 0.2);

}

section{

padding-top:80px;

padding-bottom:80px;

}

.card{

border:none;

transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

img{

border:6px solid #ec3143;

}

.badge{

font-size:18px;

width:120px;

}

footer{

margin-top:50px;

}